# Py Learn Data Course

In [1]:
from pathlib import Path
import json
import csv
import time
import re

import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
from tqdm import tqdm
import seaborn as sns
pd.set_option('display.max_columns', None)

%matplotlib inline

## Configuration

In [3]:
data_folder = Path().cwd().parent / 'data' / 'house_pricing'

csv_file = data_folder / 'python-panama-real-estate.csv'

print(f'Folder {data_folder} existe: {data_folder.exists()}')
print(f'CSv file: {csv_file.name}')

Folder /home/luiscberrocal/PycharmProjects/pylearn-data-101/data/house_pricing existe: True
CSv file: python-panama-real-estate.csv

## Loading data

### Normal load

In [4]:
df = pd.read_csv(csv_file)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733159 entries, 0 to 733158
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   status                    733159 non-null  object
 1   price                     733088 non-null  float64
 2   bed                       617177 non-null  float64
 3   bath                      621407 non-null  float64
 4   Lot area (acres)          572378 non-null  float64
 5   Full Address              733159 non-null  object
 6   street                    732069 non-null  object
 7   city                      733087 non-null  object
 8   state                     705907 non-null  object
 9   Zip code                  732957 non-null  float64
 10  House size (square feet)  520772 non-null  float64
 11  sold_date                 347237 non-null  object
 12  shootings_count           293781 non-null  float64
 13  bath_tub                  0 non-null       float64
dtypes: float64(8), object(6)
memory usage: 78.3+ MB

### PyArrow load

In [6]:
df = pd.read_csv(csv_file, engine='pyarrow', dtype_backend='pyarrow')

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 733159 entries, 0 to 733158
Data columns (total 14 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   status                    733159 non-null  category
 1   price                     733088 non-null  double[pyarrow]
 2   bed                       617177 non-null  double[pyarrow]
 3   bath                      621407 non-null  double[pyarrow]
 4   Lot area (acres)          572378 non-null  double[pyarrow]
 5   Full Address              733159 non-null  string[pyarrow]
 6   street                    733159 non-null  string[pyarrow]
 7   city                      733159 non-null  category
 8   state                     733159 non-null  category
 9   Zip code                  732957 non-null  category
 10  House size (square feet)  520772 non-null  double[pyarrow]
 11  sold_date                 347237 non-null  date32[day][pyarrow]
 12  shootings_count           293781 non-null  double[pyarrow]
 13  bath_tub                  0 non-null       null[pyarrow]
dtypes: category(4), date32[day][pyarrow](1), double[pyarrow](6), null[pyarrow](1), string[pyarrow](2)
memory usage: 85.3 MB

#### Setting categories

In [14]:
df['city'] = df['city'].astype('category')
df['state'] = df['state'].astype('category')
df['Zip code'] = df['Zip code'].astype('category')
df['status'] = df['status'].astype('category')

In [15]:
df['status'].value_counts()

status
for_sale          731566
ready_to_build      1593
Name: count, dtype: int64